### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "C:/Users/User/Desktop/git-repos/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [71]:
# Calculate total unique players
player_detail = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_detail = player_detail.drop_duplicates()
player_count = player_detail.count()[0]
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

In [72]:
# Run basic calculations
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
purchase_count = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

In [80]:
# Create summary DataFrame
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": (['${:,.2f}'.format(avg_price)]),
                              "Number of Purchases": ([purchase_count]),
                              "Total Revenue": (['${:,.2f}'.format(total_revenue)])})
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [96]:
# Gender Demographics
gender_detail_total = player_detail["Gender"].value_counts()
gender_detail_percent = gender_detail_total / player_count * 100
gender_details = pd.DataFrame({"Total Count": gender_detail_total,
                               "Percentage of Players": gender_detail_percent})
gender_details

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722