### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [151]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "C:/Users/User/Desktop/git-repos/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

### Player Count
* Display the total number of players

In [152]:
# Calculate total unique players
player_detail = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_detail = player_detail.drop_duplicates()
player_count = player_detail.count()[0]
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

### Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [162]:
# Run summary calculations
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
purchase_count = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

# Create summary DataFrame
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": ([avg_price]),
                              "Number of Purchases": ([purchase_count]),
                              "Total Revenue": ([total_revenue])})
summary_table.style.format({'Average Price': "${:,.2f}",
                            'Total Revenue': '${:,.2f}'})

### Gender Demographics
 
* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [155]:
# Gender Demographics
gender_detail_total = player_detail["Gender"].value_counts()
gender_detail_percent = gender_detail_total / player_count * 100
gender_details = pd.DataFrame({"Total Count": gender_detail_total,
                               "Percentage of Players": gender_detail_percent})
gender_details.style.format({"Percentage of Players": "{:.2f}%"})

### Purchasing Analysis (Gender)
 
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [156]:
# Run gender summary calculations
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_purchase_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
avg_purchase_person = gender_purchase_total / gender_details["Total Count"]
gender_data = pd.DataFrame({"Purchase Count": gender_purchase_count,
                            "Average Purchase Price": gender_purchase_average,
                            "Total Purchase Value": gender_purchase_total,
                            "Average Purchase Total per Person": avg_purchase_person})
gender_data.style.format({"Average Purchase Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Average Purchase Total per Person": "${:,.2f}"})

### Age Demographics
 
* Establish bins for ages

* Categorize the existing players using the age bins. Hint: use pd.cut()

* Calculate the numbers and percentages by age group

* Create a summary data frame to hold the results

* Optional: round the percentage column to two decimal points

* Display Age Demographics Table

In [157]:
# Age Demographics
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_detail["Age Ranges"] = pd.cut(player_detail["Age"], age_bins, labels=age_ranges)

# Run Age summary calculations
age_detail_total = player_detail["Age Ranges"].value_counts()
age_detail_percent = age_detail_total / player_count * 100
age_detail = pd.DataFrame({"Total Count": age_detail_total,
                           "Percentage of Players": age_detail_percent})
age_detail.sort_index().style.format({"Percentage of Players": "{:,.2f}%"})

### Purchasing Analysis (Age)
 
* Bin the purchase_data data frame by age

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [160]:
# Calculate purchase analysis by age
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_ranges)

age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_purchase_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_purchase_count = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
avg_purchase_person = age_purchase_total / age_detail["Total Count"]
age_data = pd.DataFrame({"Purchase Count": age_purchase_count,
                            "Average Purchase Price": age_purchase_average,
                            "Total Purchase Value": age_purchase_total,
                            "Average Purchase Total per Person": avg_purchase_person})
age_data.sort_index().style.format({"Average Purchase Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Average Purchase Total per Person": "${:,.2f}"})

### Top Spenders
 
* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [169]:
# Run spender calculations
spender_purchase_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
spender_purchase_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
spender_purchase_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
spender_detail = pd.DataFrame({"Purchase Count": spender_purchase_count,
                               "Average Purchase Price": spender_purchase_average,
                               "Total Purchase Value": spender_purchase_total})

# Sort top 5 spenders in descending order
sorted_spender_detail = spender_detail.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Display table
sorted_spender_detail.style.format({"Average Purchase Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Purchase Count": "{:,}"})

### Most Popular Items
 
* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [172]:
# Retrieve item data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Run item calculations
item_purchase_total = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
item_purchase_average = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")
item_purchase_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create Summary Data Frame
item_detail = pd.DataFrame({"Purchase Count": item_purchase_count,
                            "Item Price": item_purchase_average,
                            "Total Purchase Value": item_purchase_total})

# Sort top 5 item in descending order
sorted_item_detail = item_detail.sort_values(["Purchase Count"], ascending=False).head(5)

# Display table
sorted_item_detail.style.format({"Item Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Purchase Count": "{:,}"})

### Most Profitable Items
 
* Sort the above table by total purchase value in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the data frame

In [174]:
# Sort top 5 item in descending order
sorted_item_detail = item_detail.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Display table
sorted_item_detail.style.format({"Item Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Purchase Count": "{:,}"})